.container {
    height: 100vh;
    overflow: auto;
    background-color: lightgray;
}

#queue-form {
    border: 2px solid darkgray;
    border-radius: 15px;
    padding: 20px;
    margin-top: 10vh;
}

label {
    margin-bottom: 0;
}

.btn-primary {
    width: 50%;
    margin-left: 25%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    text-align: center;
}

.table-wrapper {
    margin-top: 10vh;
}

.one-table {
    width: 23%;
    height: auto;
    margin: 10px;
}

.all-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
}

button#btn-admin-js, #btn-dashboard-js, #btn-specialists-js, #btn-client-js {
    height: 50px;
    width: 150px;
    margin-left: 20px;
    margin-top: 15%;
}

.file-center {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
}

input#btnLoad {
    width: 100px;
    height: 35px;
    border: none;
    background-color: blue;
    border-radius: 5px;
    color: white;
}

input#fileinput {
    width: 390px;
}

.file-input {
    text-align: center;
}

.specialist-text-center {
    margin-left: 40px;
}

.form-control {
    margin-top: 5px;
    margin-bottom: 30px;
}

.queue-finished {
    background-color: dodgerblue;
}

#service-finish {
    width: 90px;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    border: none;
    float: right;
}

.client-num {
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

.client-num-center {
    text-align: center;
}

.btn-client {
    width: 60%;
    margin-left: 0;
}